div.search{position:absolute;left:0;right:0;margin:10px auto 0;width:100%;text-align:center;z-index:998}@media (max-width: 768px){div.search{top:127px;margin:0;left:auto;text-align:right}}div.search input[type=image]{height:30px;vertical-align:top}div.search input[type=text]{border-radius:10px;border:1px solid #ccc;padding:5px 10px;width:250px; font-size: 0.8rem;}@media (max-width: 480px){div.search input[type=text]{width:38%;}}section.resultados span.total{text-transform:lowercase;font-size:14px;color:#595959}.content .listing .item{min-height:264px !important}

/*# sourceMappingURL=search.css.map */