/* Import Css Files */
@import url('fonts.css');
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,latin-ext);

@media screen and (max-width: 1280px)   {} /* NOTEBOOK  Y TABLET */
@media screen and (min-width: 1280px)   {}  /* LARGE  MONITORS */


a {
	color: black;
}

a:hover {
	text-decoration: none;
}

a:focus, a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: none !important;
}


body {
	/* background-image: url("images/mosaicos-bottom.png?1"), url("images/mosaicos-top.png?1"); */
	background-position: center bottom, center 35px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: contain, contain;
	font-family: 'Droid Sans','Myriad Pro Regular',bryantlgmedium, Tahoma, Arial, Verdana, Geneva, Helvetica, sans-serif !important;
	letter-spacing: 0.5pt;
}

.no-border {
	border: none !important;
}

.btn-orange:hover {
	color: #FFF;
	background-color: #f49d56;
}
.btn-orange {
	color: #FFF;
	background-color: #f58220;
}
.btn-gray:hover {
	color: #FFF;
	background-color: #a5a8ac;
}
.btn-gray {
	color: #FFF;
	background-color: #808285;
}

.main-content {
	margin-bottom: 10px;
	width: 980px;
}
.main-container {
	width: 980px;
	min-width: 980px;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}

.top-container {
	width: 1200px;
	padding: 0px 0px 0px 110px;
	padding-left: 110px;
	/*background-image: url("images/content-background.png?1");*/
	background-repeat: repeat-y;
}

.menu-container {
position: relative;
left: -50%;
float: right;
}

.header  {
	margin-top: 10px;
	height: 184px;
	margin-bottom: 10px;
	position: relative;
}
.header .logo {
	width: 190px;
	float: left;
	padding-left: 15px;
}
.header .info {
	/*background-image: url(images/background-header.png);*/
	background-repeat: no-repeat;
	background-position: 40px 0;
	float: left;
	margin-top: 70px;
}

.header .info .address  {
margin: 6px 0px 0px 16px;
/*border-right: 3px solid #AEAEAE;*/
float: left;
width: 787px;
background-image: url("images/mosaicos-headerc4ca.png?1");
height: 74px;
background-position: 48px 10px;
background-repeat: repeat-x;
}
.header .info .address div {
	line-height: 22px;
	padding-right: 30px;
}
.header .info .row1 {
	color: #f68121;
}
.header .info .row2 {
	font-weight: bolder;
	color: #98999c;
}
.header .info .row3 {
	color: #98999c;
}

.header .info .market .number{
	position: absolute;
	top: 11px;
	right: 14px;
	width: 30px;
	text-align: center;
	font-weight: bold;
	color: white;
}
.header .info .market {
	background-image: url('images/icon-marketc4ca.png?1');
	background-repeat: no-repeat;
	background-position: 56px -31px;
	height: 80px;
	float: left;
	width: 150px;
	position: relative;
	cursor: pointer;
	margin-top: 8px;
	background-size: 120px;
}

.header .navbar-orange li ul li {
	margin: 8px 0;
}
.header .navbar-orange li ul  {
	background-color: #FFFFFF;
	margin: 0;

}

.header .navbar-orange li  {
	margin-right: 10px;;
}

.header .navbar-orange li a {
	color: #333;
	text-transform: uppercase;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
}

.header .navbar-orange .nav .open>a,
.header .navbar-orange .nav .open>a:hover,
 .header .navbar-orange .nav .open>a:focus,
.header .navbar-orange li a:active,
.header .navbar-orange li a:focus,
.header .navbar-orange li a:hover,
.header .navbar-orange li.active {
	/* background-color: #808795; */
	/*background: transparent url("images/menu-active.png") repeat scroll 0% 0%;*/
	color: #F68121;
	/* border-radius: 6px; */
}

.header .navbar-orange li.active a {color: white;background-color: #888585;padding: 5px 20px;border-radius: 5px;}

.header .navbar-orange li.active ul li a {
color: #333;
}

ul.dropdown-menu li a:hover{
	border-radius: 0 !important;
}

.header .navbar-orange {/*background-color: #F68121;*//*background: url("images/menu-back.png");*/height: 51px;background-position: center -1px;width: 790px;margin-bottom: 15px;font-size: 18px;margin-top: 0;font-family: 'Myriad Pro Regular',bryantlg_regularregular, Arial, Helvetica, sans-serif;}

.header .sub-nav li.active a {background-color: #888585;/* border-bottom: 2px solid #F68121; *//* border-radius: 4px; */color: white;border-radius: 5px;}
.header .sub-nav li a:hover {
	/* background-color: #ccc; */
	/* border-bottom: 1px solid #333; */
	color: #F68121;
	/* border-radius: 4px; */
}
.header .sub-nav .subnav-caret {
	margin-right: 10px;
	display: none;
}

.header .sub-nav .subnav-caret img {
	margin-bottom: -5px;
}

.menu-container > ul {
	/*margin: 0 0 0 73px !important;*/
position: relative;
left: 50%;
}

.header .sub-nav  {
position: relative;
float: right;
left: -50%;
}

.header .sub-nav ul {
margin: 5px 0px 0px 0px;
position: relative;
left: 50%;
}

.header .sub-nav li a {
	/* border-bottom: 1px dotted gray; */
	padding: 5px 5px;
	margin-right: 15px;
	font-family: 'Myriad Pro Regular',bryantlg_regularregular, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
/* CONTENT */

.galeria {
	width: 980px;
	height: 433px;
	position: relative;
	margin-top: 6px;
}

.promos {
	margin-top: 20px;
}

.promos .col50 {
	width: 50%;
	float: left;
	margin-left: 15px;
	margin-right: 5px;
}

.promos .col {
	/*padding-right: 10px;*/
	width: 480px;
}

.promos .colheader {
	background-color: #8e8c8c;
	color: #FFF;
	font-size: 18px;
	padding: 2px 15px;
	font-weight: bold;
	line-height: 50px;
	text-transform: uppercase;
	text-align: right;
}

.promos .destacado {
	margin-bottom: 10px;
	margin-top: 5px;
	/*border-bottom: 2px solid #AAA;*/
}

.promos .destacado img {
	width: 480px;
}

.promos .destacado .caption  {
	background-color: #e3e3e3;
	margin-top: 5px;
	padding: 18px 30px;
	line-height: 30px;
}
.promos .destacado .caption .title {
	font-size: 14px;
	text-transform: uppercase;
	line-height: 17px;
}
.promos .destacado .caption .desc {
	font-size: 18px;
	color: #888;
	line-height: 24px;
}
.promos .destacado .caption .price {
	font-size: 18px;
	/* color: #F68121; */
	margin-bottom: 10px;
	line-height: 20px;
}

.content {
	margin-bottom: 40px;
}
.content .th {
	color: #202123;
	font-size: 20px;
	border-bottom: 1px solid #87888A;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: bold;
}

.content h4 {
	color: #F58220;
	font-size: 20px;
}

.content .text {
	text-align: justify;
	margin-top: 60px;
}

.content .right img  {
	margin-bottom: 20px;
	max-width: 460px;
}
.content .right {
	float: right;
	margin: 20px 0px 20px 30px;
}

.content form label {
	font-weight: normal;
}
.content form {
	display: table-row;
}

.content form .form-control {
	width: 400px;
}

.content .contact {
	margin-top: 30px;
}
.content .address .row3{
	color: #F68121;
}
.content .address {
	font-size: 16px;
}

.content .th .bc1 {
	color: #808285;
	text-transform: capitalize;
}
.content .th .bc2 {
	color: #F58220;
}

.content .filters {
	background-color: #595a5b;
	color: #FFF;
	padding: 10px 30px 0px 30px;
	position: relative;
	width: 980px;
	clear: both;
}
.content .filters .form-submit input {
	width: 160px;
	text-transform: uppercase;
	height: 52px;
}
.content .filters .form-submit {
	position: absolute;
	right: 20px;
	top: 16px;

}
.content .filters .form-group {
	float: left;
	margin-right: 30px;
}
.content .filters .form-control {
	width: 200px;
	background-color: #595A5B;
	color: #FFF;
}

.content .listing {
	margin-top: 20px;
}
.content  .info {
	padding: 5px 10px;
	color: #777;
	width: 250px;
	line-height: 18px;
}
.content .listing .info div.cantidad {
	margin-top: 10px;
}
.content .listing .info input.cantidad {
	width: 50px;
}
.content .listing .info .btn-cart-delete {
	margin-left: 5px;
}
.content .listing .info .btn-narrow {
	width: 40px !important;
}
.content .listing .info .btn {
	width: 111px;
	margin-top: 7px;
	height: 38px;
	text-transform: uppercase;
	border: none;
	line-height: 25px;
}
.content .listing .info .title {
	color: #F58220;
	font-size: 16px;
}
.content  .info .price {
	color: #F58220;
}

.content  .info strong {
	color: #333;
}
.content .listing .left {
	margin-left: 0px !important;
}

.content .listing .item img.photo {
	width: 220px;
	height: 220px;
}

.content .listing .item .botones {
	position: absolute;
	bottom: 5px;
}
.content .listing .item {
	float: left;
	border: 1px solid #F68121;
	margin-left: 30px;
	width: 475px;
	height: 222px;
	margin-bottom: 15px;
	position: relative;
}

.pagination  li.active a {
	background-color: #F68121;
	border-color: #F68121;
}
.pagination  li a {
	color: #F68121;
}

.product .title {
	font-size: 20px;
	font-weight: bold;
	color: #808285;
	border-bottom: 1px solid #808285;
	margin: 10px 0;
}

.product .orange {
	color: #F58220 !important;
	border-bottom: 1px solid #F58220 !important;
}

.product .info {
	padding: 0;
	line-height: 24px;
	width: 400px;
}

.product .info a {
	border-bottom: 1px dotted #333;
}

.product .color {
	width: 25px;
	float: left;
	margin-left: 5px;
	border: 1px solid #AAA;
}

.product .imgs img.left {
	margin-left: 0px !important;
}
.product .imgs img.photo {
	margin-left: 15px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
}

.contacto .row1 {
	color: #f68121;
	font-size: 16px;;
}
.contacto .row2 {
	font-weight: normal;
	color: black;
}
.contacto .row3 {
	color: #98999c;
}

.contacto .text {
	margin: 20px 0px 20px 0px;
}
/* FOOTER */
.footer {
	position: absolute;
	width: 100%;
	padding-bottom: 20px;
	/*background-color: #18150e;*/
	background-image: url('images/footer-backgroundc4ca.png?1');
	background-repeat: no-repeat;
	color: #FFF;
	left: 0;
	padding-top: 80px;
	font-family: 'Myriad Pro regular', Arial, Verdana, Geneva, Helvetica, sans-serif;
	background-size: cover;
	text-align: center;
}

.footer .col1 {
	float: left;
	width: 130px;
}
.footer .col1 img {
	width: 100px;
}
.footer .col2 .copyright {
	color: #aaa;
	display: none;
}
.footer .col2 .year {
	color: #F68121;
	display: none;
}
.footer .col2 {
	float: left;
	/* width: 280px; */
	padding-left: 20px;
	color: #ddd;
	/* border-left: 3px solid #5d5d5d; */
	/* border-right: 3px solid #5d5d5d; */
	width: 100%;
}
.footer .col3 ul.sub {
	position: absolute;
	margin: 0px;
}
.footer .col3 ul.top ul.sub li  {
	padding-left: 0;
}
.footer .col3 ul.top ul.sub li a {
	color: #ddd;

}
.footer .col3 ul.top  {
	margin-bottom: 3px;
	position: relative;
}
.footer .col3 ul.top li  {
	padding: 0 15px;
}
.footer .col3 ul.top li a {
	font-size: 16px;
	color: #F68121;

}
.footer .col3 {
	float: left;
}

.header_top_part, .htp_offset {
    padding: 6px 0px 7px;
    font-size: 15px;
}

.fixed {
	position: fixed;
	top: 0px;
	z-index: 100;
	width: 100%;
}

.pos-market {
	position: absolute;
	right: 123px;
	top: -11px;
}

.button_type_4 {
border: 1px solid #Ccc;
height: 30px;
width: 35px;
}

.b_bottom {
	border-bottom: 1px solid #ccc;
}

.c_orange {
 color: #F68121;
}

.container-slider {
	width: 980px;
}

.w_60 {
	width: 60%;
}
.w_400 {
	width: 400px;;
}

.p_relative {
	position: relative;
}

.p_absolute{
	position: absolute;
}

.b_10 {
	bottom: 10px;
}
.r_0 {
	right: 0;
}

.owl-carousel .owl-item img.marca {
    height: 100px;
    width: 100%;
}

.m_top_40 {
	margin-top: 40px;
}

/* NOTEBOOK  Y TABLET */
@media screen and (max-width: 1280px)   {

}
/* MOBILE */
@media screen and (max-width: 769px)   {

.header .logo {
	float: none;
}

.header .navbar-orange {
	width: 100%;
	height: 100%;
}

.header .info {
	margin-top: 15px;
}

.menu-container ul {
	left: 0;
}

.menu-container {
	left: 20px;
	float: none;
}

.header .sub-nav{
	left: 20px;
	float: none;
}

.header .sub-nav ul {
	left: 0;
}

.header .sub-nav .subnav-caret {
	display: none;
}

}

::-webkit-scrollbar-thumb{
	background: #F68131 !important;
}

.nav>li>a:hover, .nav>li>a:focus {
    background: none;
}

.market span#text {
    position: absolute;
    top: 33px;
    left: 23px;
    font-size: 16px;
    color: #808080;
}

.paneles {
    background-color: #f2f2f2;
    padding: 30px 15px 0;
    /* margin-bottom: 10px; */
}

.footer .logo img {
    width: 60px;
}

.footer .container.main-container {
    margin-top: 100px;
}

.img-rounded {
    border-radius: 0;
}

.header .logo img {width: 70px;margin-top: 71px;margin-left: 50px;}

.header .sub-nav li.active a:hover {
    color: white;
}

.leyenda.p_absolute.b_10.r_0 {
    font-size: 12px;
}

.item .info .title a {
    color: #F58220;
}

/* add-on para referencia de texto bajo imágenes en sección Ambientes*/

