@mixin deco_backgrounds_cover(){
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@mixin deco_backgrounds_contain(){
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@mixin deco_backgrounds_grey_white_gradient(){
	background: linear-gradient(to bottom,  rgba(141,141,141,1) 0%,rgba(255,255,255,1) 100%);
}

@mixin deco_backgrounds_black_transparent_gradient(){
	background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(255,255,255,0) 100%);
}

@mixin deco_backgrounds_box_shadow_underneath {
	box-shadow: 0px 5px 70px 0px rgba(141,141,141,0.7);
}

@mixin deco_background_box_shadow {
	box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.22);
}
