@mixin deco_button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	outline: none;

	margin: 0;
	font-family: $fontBlack;
	font-size: pxToRem(11);
	line-height: 1;
	letter-spacing: pxToRem(3);
	text-transform: uppercase;
	padding: pxToRem(18) pxToRem(30) pxToRem(18);
	border: pxToRem(5) solid $colorGrey600;
	background: $colorGrey600;
	cursor: pointer;
	border-radius: 0px;

	transition: $transitionDefault;
}

@mixin deco_button_medium {
	padding: pxToRem(16) pxToRem(30) pxToRem(14);
	border-width: pxToRem(3);
}

@mixin deco_button_small {
	padding: pxToRem(15) pxToRem(30) pxToRem(11);
	border-width: pxToRem(2);
}

@mixin deco_button_primary {
	background: $colorPrimary500;
	border-color: $colorPrimary500;
	color: $white;

	&:hover,
	&:focus {
		background: $colorSecondary600;
		border-color: $colorSecondary600;
		color: $black;
	}

	&:active {
		background: $colorSecondary600;
		border-color: $colorSecondary500;
		color: $black;
	}

	&:disabled {
		opacity: 0.3;
	}
}


@mixin deco_button_hollow_black {
	background: transparent;
	border-color: black;
	color: $black;
	border-width: pxToRem(2);

	&:hover {
		background: $black;
		border-color: $black;
		color: $white;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin deco_button_solid_black {
	background: black;
	border-color: black;
	color: $white;
	border-width: pxToRem(2);

	&:hover {
		background: transparent;
		border-color: $black;
		color: $black;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin deco_button_solid_grey {
	background: $colorGrey800;
	border-color: $colorGrey800;
	color: $black;
	border-width: pxToRem(2);

	&:hover {
		background: transparent;
		border-color: $black;
		color: $black;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin deco_button_hollow_white {
	background: transparent;
	border-color: $white;
	color: $white;
	border-width: pxToRem(2);

	&:hover {
		background: $white;
		border-color: $white;
		color: $black;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin deco_button_hollow_goooooold {
	background: transparent;
	border-color: $colorSecondary600;
	color: $colorSecondary600;
	border-width: pxToRem(2);

	&:hover {
		background: $colorSecondary600;
		border-color: $colorSecondary600;
		color: $white;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin deco_button_icon {
	position: relative;
	padding: pxToRem(18) pxToRem(30) pxToRem(18) pxToRem(60);

	.icon-svg {
		position: absolute;
		top: 50%;
		left: pxToRem(20);
		transform: translateY(-60%);
		fill: $white;

		transition: $transitionDefault;
	}

	&:hover .icon-svg,
	&:focus .icon-svg {
		fill: $black;
	}
}
