
@mixin deco_form_el_reset(){
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	outline: none;

	border: none;
	border-radius: 0px;
	background: transparent;
	margin: 0;
	padding: 0;
	box-shadow: none;
}

@mixin deco_form_input(){
	display: block;
	width: 100%;
	font-family: $fontHeavy;
	font-size: pxToRem(12);
	letter-spacing: 2.5px;
	//text-transform: uppercase;
	line-height: 1;
	padding: pxToRem(8) 0;
	border-bottom: 1px solid rgba($black, 0.3);

	&:focus {
		border-color: $black;
	}
}

@mixin deco_form_input_with_label {
	padding: pxToRem(8) pxToRem(100) pxToRem(8) 0;

	// &:focus ~ label,
	// &:valid ~ label {
	// 	font-size: pxToRem(10);
	// 	color: $colorGrey600;
	// 	left: 100%;
	// 	transform: translate3d(-100%, 0, 0);
	// }

	// woo commerce classes

}

@mixin deco_form_label {
	position: absolute;
	top: 2px;
	left: 0;
	font-size: pxToRem(11);
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: $black;
	pointer-events: none;
}

@mixin deco_form_select {
	max-width: pxToRem(250);
	padding-right: 20px;
	font-family: $fontRegular;
	text-transform: uppercase;
	color: $colorGrey300;
	border-color: $colorGrey600;
	font-size: pxToRem(11);
}

@mixin deco_form_select_caret {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: pxToRem(30);
	height: pxToRem(30);
	background-image: url('../images/icons/arrow-dropdown-dark.svg');
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
}

@mixin deco_form_check {
	content: '';
	position: absolute;
	top: - pxToRem(2);
	right: - pxToRem(30);
	width: pxToRem(30);
	height: pxToRem(30);
	background-image: url('../images/icons/check.svg');
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
}
