
@mixin deco_headings_h1(){
	font-family: $fontBlack;
	font-size: pxToRem(42);
	line-height: 1.2;
	letter-spacing: 7px;
	text-transform: uppercase;
}

@mixin deco_headings_h2(){
	font-family: $fontBlack;
	font-size: pxToRem(38);
	line-height: 1.4;
	letter-spacing: 6px;
	text-transform: uppercase;
}

@mixin deco_headings_h3(){
	font-family: $fontBlack;
	font-size: pxToRem(30);
	line-height: 1.5;
	letter-spacing: 4px;
	text-transform: uppercase;
}

@mixin deco_headings_h4(){
	font-family: $fontBlack;
	font-size: pxToRem(18);
	line-height: 1.6;
	letter-spacing: 2px;
	text-transform: uppercase;
}

@mixin deco_headings_h5(){
	font-family: $fontBlack;
	font-size: pxToRem(14);
	line-height: 1.7;
	letter-spacing: 2px;
	text-transform: uppercase;
}

@mixin deco_headings_h6(){
	font-family: $fontBlack;
	font-size: pxToRem(12);
	line-height: 1.5;
	letter-spacing: 3px;
	text-transform: uppercase;
}

@mixin deco_headings_overline(){
	//48/8
	&:before {
		content:'';
		position: absolute;
		top: - pxToRem(30);
		left: 0;
		width: pxToRem(48);
		height: pxToRem(8);
		background: $colorPrimary500;
	}

	@media #{$media_small} {

		&:before {
			top: - pxToRem(18);
			height: pxToRem(4);
		}

	}
}

@mixin deco_headings_underline(){
	position: relative;
	//48/8
	&:before {
		content:'';
		position: absolute;
		bottom: - pxToRem(10);
		left: 0;
		width: pxToRem(48);
		height: pxToRem(6);
		background: $colorPrimary500;
	}
}

@mixin deco_headings_menu_link(){
	font-size: pxToRem(11);
	letter-spacing: pxToRem(3);
	font-family: $fontHeavy;
	text-transform: uppercase;
}
