@mixin deco_layouts_center_el(){
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

@mixin deco_layouts_center_el_horizontal(){
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}

@mixin deco_layouts_center_el_vertical(){
	top: 50%;
	transform: translate3d(0, -50%, 0);
}

@mixin deco_layouts_centered_content(){
	width: 100%;
	max-width: pxToRem(680);
}

@mixin deco_layouts_store_title_margin(){
	margin: pxToRem(110) 0 pxToRem(70);
}

@mixin deco_layouts_store_title_margin_responsive(){
	margin: pxToRem(60) 0 pxToRem(30);
}

@mixin deco_layouts_white_container_720(){
	background: $white;
	width: pxToRem(720);
	max-width: 100%;
	transform: translateY(- 2rem);
	text-align: center;
	margin: 5rem 0;
	padding: pxToRem(60);
}
