<div class="contacto">
		<div class="th">{$page.Titulo|default}</div>
                    <div class="row">
                        <div class="m_top_40 col-xs-12 col-md-4">
                        	{$page.Texto|default}
                        </div>
                        <div class="m_top_40 col-xs-12 col-md-8">
                            {$page.Mapa|default}
                        </div>
                    </div>
</div>