            <script>
            {foreach $contents as $uid => $item}
                  $('div.sub-nav ul').append('<li class="{act s=$item._data.slug}"><a href="{URL}{$item.slug}">{$item._data.name}</a></li>');
            {/foreach}
            </script>
