		<div class="th">{$page.Titulo|default}</div>
                    <div class="row">
                        <div class="m_top_40 col-xs-12 col-md-6">
                        	{$page.Texto|default}
                        </div>
                        <div class="m_top_40 col">
			{if isset($page.Imagenes)}
				{foreach $page.Imagenes as $img}
					<img class=" img-fluid" src="{$img.src.Original}" /><br/>
				{/foreach}
			{/if}
                        </div>
                       </div>


