
.featured_products {
	@include deco_flex_start_center;

	flex-direction: column;
	position: relative;
	background: $colorGrey900;
	padding: gridUnit(10) 0;
	text-align: center;

	transform: translatez(0);

	&--product_archive {
		padding: 1rem 0 6rem;
	}
}

.featured_products-suptitle {
	color: $colorSecondary600;

	will-change: transform;
	backface-visibility: hidden;
	animation: fadeInUpMed $animationDuration both $transitionEase;
}

.featured_products-title {
	color: $black;

	will-change: transform;
	backface-visibility: hidden;
	animation: fadeInUpMed $animationDuration both $transitionEase;
	animation-delay: $animationDuration;

	span {
		transition: $transitionDefault;
	}
}

.featured_products-list {
	@include deco_flex_center_start;

	flex-wrap: wrap;
	align-items: stretch;
	width: 76rem;
	max-width: 100%;
	z-index: 10;
}

.featured_products-list-item {
	display: block;
	align-items: stretch;
	position: relative;
	margin: gridUnit(5) 0 0;
	flex-basis: 32%;
}

.featured_products-icon {
	display: block;

	will-change: transform;
	backface-visibility: hidden;

	g {
		stroke: $colorSecondary600;
	}
}

.featured_products--green_heading_white_bg {

	&:after {
		@include deco_psuedo_base;

		left: 0;
		bottom: 0;
		width: 100%;
		height: 45%;
		background: $white;
		z-index: 0;
	}

	.featured_products-suptitle {
		color: $colorPrimary500;
	}

	.featured_products-title {
		span {
		}
	}

	.featured_products-link:hover {

		.featured_products-title span {
			border-color: $colorPrimary500;
		}

	}

	.featured_products-icon {
		g {
			stroke: $colorPrimary500;
		}
	}
}

.no-touchevents {

	.featured_products-link:hover {

		.featured_products-title span {
			border-color: $colorSecondary600;
		}

		& ~ .featured_products-icon {
			animation: fadeInRightMed $animationDurationx2 both $transitionEase;
		}
	}

}

/*
*	Scroll Animation
*/

@media #{$media_large_up} {

	.no-touchevents {

		.featured_products-list-item  {
			opacity: 0;
		}

		.scroll_active {

			.featured_products-list-item {

				animation: fadeInUpMed $animationDurationx2 both $transitionEase;

				&:nth-of-type(1){
					animation-delay: $animationDurationx2;
				}

				&:nth-of-type(3){
					animation-delay: $animationDurationx4;
				}
			}
		}

	}

}



/*
*	Responsive
*/

@media #{$media_large_up} {

	.featured_products-icon {
		animation: fadeOutRightMed $animationDurationx2 both $transitionEase;
	}

}

@media #{$media_large_down} {

	.product-icon--cart {
		display: none;
	}

	.featured_products {
		padding: gridUnit(4) gridUnit(0.5);
	}


	.featured_products-list-item {
		width: 100%;
		-webkit-flex: 1 0 50%;
		max-width: 50%;
		min-width: 50%;
		margin: gridUnit(2) 0 gridUnit(4);
		padding: 0;

		&:last-of-type {
			margin: gridUnit(2) 0 0;
		}
	}

}

@media #{$media_small} {

	.featured_products-list {
		display: block;
		padding: 0 1rem;
	}

	.featured_products--green_heading_white_bg .featured_products-title span {
		border-width: pxToRem(4);
	}

	.featured_products-title {

		br {
			display: none;
		}

		span {
		}
	}

	.featured_products-list-item {
		max-width: 100%;
		min-width: 100%;
	}

}
