@import '../settings/_colors.scss'; 
@import '../settings/_font.scss'; 
@import '../settings/_animations.scss'; 
@import '../settings/_transition.scss'; 
@import '../decorators/_backgrounds.scss'; 
@import '../decorators/_psuedo.scss'; 
@import '../decorators/_flex.scss'; 
@import '../decorators/_buttons.scss'; 

.card-link {
    //@include deco_flex_start_space_between;
    //
    // flex: 1;
    // flex-direction: column;
    background: $white;
    display: block;
    width: 100%;

    transition: $transitionDefault;

    .arrow-points {
        stroke: transparent;
        transition: $transitionDefault;
    }

    &:hover,
    &:focus {


        .card-title span {
            border-color: $colorSecondary600;
        }

        .arrow-points {
            stroke: $colorSecondary600;
        }

        .card-figure-image {
            transform: scale(1.1) translateZ(0);
            transition: 4s transform linear;
            backface-visibility: hidden;
        }

    }
}

.card-figure {
    @include deco_flex_center_start;

    align-items: stretch;
    position: relative;
    width: 100%;
    height: pxToRem(200);
    overflow: hidden;
}

.card-figure-image {
    @include deco_backgrounds_cover;

    flex: 1;
    will-change: transform;
    transition: 600ms transform linear;
}

.card-content {
    // @include deco_flex_start_start;

    display: block;
    flex: 1;
    flex-direction: column;
    text-align: left;
    width: 100%;
    border-top: none;
    padding: pxToRem(20) pxToRem(40);
}

.card-icon {
    margin-bottom: pxToRem(10);

    g {
        stroke: $colorSecondary600;
    }
}

.card-title {
    color: $black;
    width: 100%;

    span {
        border-color: transparent;
        transition: $transitionDefault;
    }
}

.card-subtitle {
    color: rgba($black, 0.6);
}
