
$white: #ffffff;
$black: #1E1E1E;

$colorWarning: #f33d3d;

$colorPrimary500: #486b60;

$colorSecondary600: #486b60; /* IFI */
$colorSecondary400: #5b7f71;
$colorSecondary200: #7f9c91;
$colorSecondary100: #92aba0;

$colorGrey900: #efefef;
$colorGrey800: #dedede;
$colorGrey700: #bababa;
$colorGrey600: #A4A4A4;
$colorGrey500: #999999;
$colorGrey400: #474747;
$colorGrey300: #373737;

$coolGray: #747679;
