$fontSize: 16 !default;
$fontRegular: 'AvenirLTStd-Book', Arial, sans-serif !default;
$fontBlack: 'AvenirLTStd-Black';
$fontHeavy: 'AvenirLTStd-Heavy';
$fontStandardOblique: 'Conv_AvenirLTStd-Oblique';
$fontBook: 'AvenirLTStd-Book';
$fontBookOblique: 'Conv_AvenirLTStd-BookOblique';

@font-face {
	font-family: 'AvenirLTStd-Black';
	src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirLTStd-Black.otf')  format('opentype'),
	url('../fonts/AvenirLTStd-Black.woff') format('woff'), url('../fonts/AvenirLTStd-Black.ttf')  format('truetype'), url('../fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
	font-style: normal;
}

@font-face {
	font-family: 'AvenirLTStd-Heavy';
	src: url('../fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirLTStd-Heavy.otf')  format('opentype'),
	url('../fonts/AvenirLTStd-Heavy.woff') format('woff'), url('../fonts/AvenirLTStd-Heavy.ttf')  format('truetype'), url('../fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
	font-style: normal;
}

@font-face {
	font-family: 'AvenirLTStd-Book';
	src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirLTStd-Book.otf')  format('opentype'),
	url('../fonts/AvenirLTStd-Book.woff') format('woff'), url('../fonts/AvenirLTStd-Book.ttf')  format('truetype'), url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirLTStd-BookOblique';
	src: url('../fonts/AvenirLTStd-BookOblique.eot');
	src: local('☺'), url('../fonts/AvenirLTStd-BookOblique.woff') format('woff'), url('../fonts/AvenirLTStd-BookOblique.ttf') format('truetype'), url('../fonts/AvenirLTStd-BookOblique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirLTStd-Oblique';
	src: url('../fonts/AvenirLTStd-Oblique.eot');
	src: local('☺'), url('../fonts/AvenirLTStd-Oblique.woff') format('woff'), url('../fonts/AvenirLTStd-Oblique.ttf') format('truetype'), url('../fonts/AvenirLTStd-Oblique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
