@mixin flex-grow($grow) {
                      -webkit-box-flex-grow: $grow;
                  -moz-box-flex-grow: $grow;
                  -webkit-flex-grow: $grow;
                      -ms-flex-grow: $grow;
                          flex-grow: $grow;
}

@mixin display-flex() {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
}

@mixin scale-down() {
                -webkit-transition: -webkit-transform .6s linear;
                transition: -webkit-transform .6s linear;
                transition: transform .6s linear;
                transition: transform .6s linear,-webkit-transform .6s linear;    
}

@mixin scale-up() {
            -webkit-transform: scale(1.1) translateZ(0);
            transform: scale(1.1) translateZ(0);
            -webkit-transition: -webkit-transform 4s linear;
            transition: -webkit-transform 4s linear;
            transition: transform 4s linear;
            transition: transform 4s linear,-webkit-transform 4s linear;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;    
}

@mixin flex($flex) {
    -webkit-flex:$flex;
    -webkit-box-flex:$flex;
    -moz-flex:$flex;
    -moz-box-flex:$flex;
    -ms-flex:$flex;
    flex:$flex;  
}
